.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.v-lazy-image {
  opacity: 0;
  transition: all 0.25s ease-out;
}
.v-lazy-image-loaded {
  opacity: 1;
}