/***********************/
/*    color scheme     */
/***********************/

 // $primary: #3F5EF8;
 // $secondary: #f7f7f7;
 // $highlight: #3ecf8e;
 $dim: #f7f7f7;
 // $text: #6b7c93;


/***********************/
/*       global        */
/***********************/
* {
  box-sizing: border-box;
}
body {
  padding-top: 5em;
  font-family: "Sarala";
}
// .navbar.navbar-slideup {
//   position: absolute;
//   top: -60px;
//   transition: 500ms ease
// }
/***********************/
/* bootstrap overrides */
/***********************/
.btn {
  border: 1px solid #adadad;;
}
.navbar {
  border-radius: 0;
}
.jumbotron {
  background: #f7f7f7;
}
#work-details.hide {
  opacity: 0 !important;
}
#work-details.fade {
  opacity: 1 !important;
  margin-bottom: 5em;
  transition: 1s ease-in-out;
}
section#work-gallery button:focus {
  background: rgb(192, 192, 192);
  outline: 0;
}
/***********************/
/*       desktop       */
/***********************/
section#work-gallery {
  padding: 5em 0em 5em 0em;
  .overlay {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    height: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    text-align: center;
  }
  .project-cover-art:hover .overlay {
    opacity: 1;
    transition: 0.5s ease-in;
    filter: blur(0px);
  }
}
section#footer {
  background: #f7f7f7;
  margin-top: 0em;
  footer{  
    border-top: 1px solid #e7e7e7;
    padding: 0.3em 0em 1em 0em;
  }
  input {
    padding: 0.5em 0em;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    outline: none;
    background: transparent;
    border-radius: 0;
  }
  textarea {
    resize: none;
    border: 2px solid black;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    outline: none;
    padding: 0.5em 0em;
    background: transparent;
    border-radius: 0;
  }
  input[type="submit"] {
    background: transparent;
    border-color: red;
    border-width: 5px;
    border-radius: 0;
  }
  input[type="submit"]:hover {
    font-weight: 900;
  }
  .footer-column p:first-child{
    padding: 2.5em 0em;
  }
  .footer-column {
    a {
      color: black;
      text-decoration: underline;
    }
  }
}

section#navigation {
  .navbar-header {
    img {
      max-width: 153px
    }
  }
  .navbar-social-media {
    padding: 0;
    font-size: 1.2em;
    font-family: Sarala;
    padding: 1em 0em 0em 1em;
    font-weight: bolder;
    span {
      padding: 0 1em 0em 0em;
    }
  }
  a {
    color: black;
  }
  .navbar-default {
    background: rgba(255, 255, 255, 0.9)
  }
  .navbar-social-media {
    font-size: 1.3em;
    padding: 1em 0em;
    i {
      padding: 0em 0.5em;
    }
  }
  .navbar-header {
    font-size: 1em;
    padding: 0.8em 0em 0em 1em;
    a {
      color: black;
    }
  }
  .navigationStyle {
    width: 80%;
    margin: 0px auto;
  }
}

section#banner {
  button {
    margin: 0em 0.5em;
  }
}

section#work-details {
  padding: 5em 0em 0em 0em;
  .project-description {
    display: block;
    padding: 0.2em 3em;
    font-size: 1.1em;
    font-weight: bolder;
  }
  .project-header {
    display: block;
    padding: 0em 1.3em;
    font-size: 1.1em;
    font-weight: bolder;
  }
  a {
    text-decoration: none;
    color: black;
  }
  p {
    position: relative;
    font-size: 1.1em;
    padding: 1em 0em
  }
  .project-description:before {
    content: "";
    background: black;
    position: absolute;
    top: 29px;
    left: 0;
    width: 37px;
    height: 4px;
  }
  .tag {
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0.2em 0.2em;
    background: #e8e8e8;
    border-radius: 2px;
  }
}

/***********************/
/*       mobile        */
/***********************/

@media only screen and(max-width: 993px){
  section#footer {
    text-align: center;
  }
  section#navigation {
    .navbar-header {
      padding: 0.5em 0em 0em 1em;
    }
    .navbar-social-media {
      padding: 0;
      font-size: 1em;
      padding: 1.2em 0em 0em 1em;
      font-weight: bolder;
      span {
        padding: 0 0.3em;
      }
    }
    .navigationStyle {
      width: 85%;
      margin: 0px auto;
    }
  }
  section#work-details {
    .space {
      margin: 2.5em 0;
    }
  }
}

@media only screen and(max-width: 500px){
  section#navigation {
    .navigationStyle {
      width: 100%;
      margin: 0px auto;
    }
  }
}
